body {
    overflow-y: hidden;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DD4826;
}

.section {
    width: 400px;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

#notificationForm {
    display: none;
}

#sendNotifBtn {
    background-color: #DD4826;
    width: max-content;
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #DD4826;
    cursor: pointer;
}

button {
    background-color: #DD4826;
    width: 100px;
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #DD4826;
    cursor: pointer;
}

button:hover {
    background-color: #000;
}

.hide {
    display: none;
}

.block {
    display: block;
}

#output {
    margin-top: 20px;
    font-weight: bold;
}
